@inherits GamePage
@if (game.IsGameRunning)
{
    <button class="btn btn-primary" @onclick="EndGame">End Game</button>
    <button class="btn btn-primary" @onclick="() => game.ReplayCurrentWord()">Replay Word</button>
    <button class="btn btn-primary" @onclick="() => game.Pause()">Pause Player</button>
    <button class="btn btn-primary" @onclick="() => game.Play()">Resume Player</button>
    <button class="btn btn-primary" @onclick="async () => await game.Skip()">Skip 10 seconds</button>
}
else
{
    <h3>Vocabulary Game</h3>
    <MudGrid>
        <MudItem xs="12" sm="6" md="3">
            <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudButton @onclick="() => ShowHighScores()">High Scores</MudButton>
        </MudItem>
        @if (!game.IsSpotifyAuthorized())
        {
            <MudItem xs="12" sm="6" md="3">
                <MudButton @onclick="() => AuthorizeSpotify()">Authorize Spotify</MudButton>
            </MudItem>
        }
        <MudItem xs="12" sm="6" md="3">
            <MudButton @onclick="() => ShowVocabGameSetup()">Edit Vocab words</MudButton>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudSwitch Color="Color.Primary" label="Use Testing Buttons" @bind-Checked="@UseTestingButtons" />
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <p>@game.SavedVocab.SavedWords.Count Words</p>
        </MudItem>
    </MudGrid>

    <MudGrid>
        <h5>Now Playing: @game.CurrentSongName</h5>
        <h5>Total Songs in Playlist: @game.PlaylistCount - For a total time of @game.PlaylistLengthDisplay </h5>
    </MudGrid>


}
@if (GameHandler.CurrentButtonLayout == null)
{
    <MudText color=@Color.Error>No Layout selected. This game will not play well. </MudText>
}
@if (UseTestingButtons)
{
    <ButtonTesting HideButtonsWhenGameActive=true />
}


