@page "/control"

<h3>Control</h3>
    There @(MsgSender.GetConnectedButtons().Count == 1 ? "is" : "are") @MsgSender.GetConnectedButtons().Count   Button connected.
<div>
    <button @onclick="CheckButtonStatus">Check Button Status</button>
</div>
<div>
    <button @onclick="RestartButtons">Restart All Buttons</button>
</div>
<div>
    <button @onclick="TurnOffButtons">Turn Off All Buttons</button>
</div>

<div>
    <h4>Details</h4>
    <p>Mosquitto Address: @mosquittoAddress</p>
    <p>IsConnected: @isConnected.ToString()</p>
    <p>IsStarted: @isStarted.ToString()</p>
</div>

<div>
    <h2>Active Controller</h2>
    <p>@CtrlHandler.CurrentButtonProvider.Name</p>

    <h4>Other Controllers</h4>
    @foreach (var item in AllControllers.Where(t => t.GetType() != CtrlHandler.CurrentButtonProvider.GetType()))
    {
        <p>@item.Name</p>

        <MudButton @onclick="() => SelectController(item.GetType())">Select</MudButton>
    }
</div>
